<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Imagen</th>
      <th>Contenido</th>
      <th>Fecha de ingreso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= image_tag "#{post.image_url}", style: 'height:70px; width:70px;' %></td>
        <td> <% if post.user != nil%>
              <%c = post.content%>
              <% d = " "%>
              <% e = post.user.to_s%>
              <% arr = c.split(d)%> 
              <%arr.each do |arr|%>
                <% if arr.include?(e)%>
                  <% arr = ' ' %>
                  <%= print%><span><%=arr%></span>
                <% else%>
                  <%= print%><span><%=arr%></span>
                <%end%>
              <%end%>
            <%else%>
              <%= post.content%>
            <%end%>
        </td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


